<div class="navbar">
    <div class="fake-navbar">
        <div class="fake-list">
            <ul style="padding-top: 0px;">
                <li class="list-small">About</li>
                <li class="list-small">Forum</li>
                <li class="list-small">Buy now!</li>
                <li class="list-small">Login/Join</li>

            </ul>
        </div>
        <div class="materials">
            <div style="display: flex;">
                <div class="tiny-buttons">
                    <button class="small-button"> A-</button>
                </div>
                <div class="tiny-buttons">
                    <button class="small-button"> A</button>
                </div>
                <div class="tiny-buttons">
                    <button class="small-button"> A+</button>
                </div>
            </div>

            <mat-slide-toggle style="margin-left: 20px;"></mat-slide-toggle>
            <div style="display: flex; margin-left: 20px;">
                <i class="bi bi-facebook" style="margin-right: 20px;"></i>
                <i class="bi bi-twitter" style="margin-right: 20px;"></i>
                <i class="bi bi-linkedin" style="margin-right: 20px;"></i>
                <i class="bi bi-youtube" style="margin-right: 20px;"></i>
                <i class="bi bi-vimeo"></i>
            </div>

        </div>
    </div>
    <hr style="margin-top: 8px; border-width: 5px; opacity: 0.1; border-color: #2163e8;">
   
    <div class="actual-navbar">
        <div>
            <img src="https://blogzine.webestica.com/assets/images/logo.svg" alt="logo" class="logo">
        </div>
        <div class="header-list">
            <ul>
                <a routerLink="/homealt"><li>Home<mat-icon>keyboard_arrow_down</mat-icon> </li></a>
                <section class="posts-dropdown">
                    <a><li>Pages<mat-icon>keyboard_arrow_down</mat-icon> </li></a>
                    <div class="dropdown-content">
                        <a  class="text" routerLink="/aboutus">About us</a>
                        <a class="text" routerLink="/contact">Contact us</a>
                        <a class="text" routerLink="/signup">Sign up</a>
                        <a class="text" routerLink="/signin">Sign in</a>
                        <a class="text" routerLink="/categories">Categories</a>
                        <a class="text" routerLink="/search">Search</a>
                    </div>
                </section>
                <a routerLink="/post-details"><li>Post<mat-icon>keyboard_arrow_down</mat-icon> </li></a>
                <section class="posts-dropdown">
                    <a><li>Lifestyles<mat-icon>keyboard_arrow_down</mat-icon> </li></a>
                    <div class="dropdown-content-categories">
                        <div class="dropdown-box">
                            <div class="dropdown-categories">
                                <mat-card style="height: 100%; width: 100%;">
                                    <img mat-card-image src="assets/images/ddcat1.jpg" height="60%">
                                    <mat-card-content>
                                        <p class="text underline" style="color: #191a1f;"> 7 common mistakes that everyone make while travelling</p>
                                        <p class="text">
                                            by Author • 22 Nov 
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="dropdown-categories">
                                <mat-card style="height: 100%; width: 100%;">
                                    <img mat-card-image src="assets/images/ddcat1.jpg" height="60%">
                                    <mat-card-content>
                                        <p class="text underline" style="color: #191a1f;"> 7 common mistakes that everyone make while travelling</p>
                                        <p class="text">
                                            by Author • 22 Nov 
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="dropdown-categories">
                                <mat-card style="height: 100%; width: 100%;">
                                    <img mat-card-image src="assets/images/ddcat1.jpg" height="60%">
                                    <mat-card-content>
                                        <p class="text underline" style="color: #191a1f;"> 7 common mistakes that everyone make while travelling</p>
                                        <p class="text">
                                            by Author • 22 Nov 
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="dropdown-categories">
                                <mat-card style="height: 100%; width: 100%; background-color: rgba(33, 99, 232, 0.1);" >
                                        <section style="display: flex; flex-direction: column; margin-top: 10px;">
                                        <p class="text" style="margin: auto;"> The Blogzine</p>
                                        <p class="text" style="margin: auto; font-size: 28px; color: #191a1f;;"> Premium</p>
                                        <p class="text" style="margin: auto; font-size: 28px; color: #191a1f;;"> Membership </p>
                                        <p class="text" style="margin: auto;">Become member today</p>
                                        <button mat-button class="text" style="background-color: #f7c32e; color: black; height: 40px; width: 150px; margin: auto; margin-top: 20px;">
                                            View pricing plans
                                        </button>
                                        </section>
                                </mat-card>
                            </div>
                        </div>
                        <section style="display: flex; margin-top: 10px; margin-bottom: 10px;">
                            <p class="text"> Trending Tags: </p>
                            <button mat-button style="color: white; background-color: #0cbc87; margin-left: 10px;"> Business </button>
                            <button mat-button style="color: white; background-color: #0cbc87; margin-left: 10px;"> Business </button>
                            <button mat-button style="color: white; background-color: #0cbc87; margin-left: 10px;"> Business </button>
                            <button mat-button style="color: white; background-color: #0cbc87; margin-left: 10px;"> Business </button>
                            <button mat-button style="color: white; background-color: #0cbc87; margin-left: 10px;"> Business </button>
                            <button mat-button style="color: white; background-color: #0cbc87; margin-left: 10px;"> Business </button>
                            <button mat-button style="color: white; background-color: #0cbc87; margin-left: 10px;"> Business </button>
                            <button mat-button style="color: white; background-color: #0cbc87; margin-left: 10px;"> Business </button>

                        </section>
                    </div>
                </section>
                <a routerLink="/authorpage"><li>Author Page<mat-icon>down_arrow</mat-icon></li></a>
            </ul>
            
        </div>

    
        <div class="menu">
            <section class="resp-menu posts-dropdown">
                <a><mat-icon>menu</mat-icon></a>
                <div class="dropdown-content-responsive">
                    <a  class="text" routerLink="/homealt">Home</a>
                    <a  class="text" routerLink="/aboutus">About us</a>
                    <a class="text" routerLink="/contact">Contact us</a>
                    <a class="text" routerLink="/signup">Sign up</a>
                    <a class="text" routerLink="/signin">Sign in</a>
                    <a class="text" routerLink="/search">Search</a>
                </div>
            </section>
            <button mat-button class="subscribe-button">Subscribe!</button>
            <section class="posts-dropdown">
                <button style="border: 0px; background-color: white;margin-left: 5px;"><mat-icon>search</mat-icon></button>
                <div class="dropdown-search">
                    <section style="display: flex;">
                        <input type="text" class="field text" placeholder="Search">
                        <button mat-button class="text" style="background-color: #0cbc87; color: white; margin: 8px 8px 8px -8px;"> Search </button>
                    </section>
                </div>
            </section>
           
            <button style="border: 0px; background-color: white;margin-left: 5px;" (click)="sidenav()"><mat-icon>menu</mat-icon></button>
        </div>
    </div>
    <div style="background-color: #c4e1ff; height: 40px; margin-top: 15px; margin-bottom: 30px; display: flex; align-items: center; font-size: 0.9375rem; font-family: Rubik, sans-serif;;overflow: hidden; font-weight: 600;">
        <span style="padding:0.3rem;background-color:#2163e8 ; margin-left: 10px; color: white; border-radius: 5px; height: 30px;" >Trending:</span>
        <Span style="margin-left: 20px; min-width: 500px; color: #6c757d; font-size: 0.9375rem; font-family: Rubik, sans-serif;"> This is the trending topic</Span>
        <Span style="margin-left:39%; display: flex;" >
            <button class="small-button" style="border-radius: 20px;">
                <i class="bi bi-chevron-left"></i>
            </button>
            <button class="small-button" style="border-radius: 20px;margin-left: 10px;">
                <i class="bi bi-chevron-right"></i>
            </button>

        </Span>
    </div>
</div>
