<div class="body">
    <div style="height: 300px; width: 100%;">
        <div class="image" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/categorymain.jpg); background-size: cover; background-position: center;">
         <p class="text" style="color: aliceblue; margin-top: 50px;" > Browsing category: </p>
         <h1 class="text" style=" background-color: rgb(247, 195, 46);padding: 0px 15px 0px 15px; border-radius: 5px; font-size: 28px; color: white; font-weight: 600;">
            <i class="bi bi-circle-fill"></i> Technology
         </h1>
         <p class="text" style=" background-color: rgb(79, 158, 248);padding: 0px 15px 0px 15px; border-radius: 5px; color: white; font-weight: 600;">
            14 posts
         </p>
        </div>
    </div>
    
   
    <div class="content">
        <div class="highlights">
            <mat-grid-list [cols]="cols" rowHeight="510px" [gutterSize]="'30px'">
                <mat-grid-tile *ngFor="let til of news | slice:0:6">
                <mat-card style="height: 100%; width: 100%;">
                    <img mat-card-image src="{{til.image}}" height="310px" style="background-size: cover; border-radius: 10px;">
                    <p class="text category" [style.background-color]="til.color"> • Category </p>
                    <mat-card-content>
                        <h2 class="text underline" style="font-size: 22px; font-weight: 600; color: #191a1f;">{{til.text}}</h2>
                        <p class="text">
                            {{til.num}} asdjfhlkajsd flkajsdf akljsdhf asdlkfjha sdfkjlasdhf askldfhj asdkhjfakjds flkajdhsf asdfkja sdfkjhasd fkajdhsfklasdf  
                        </p>
                            <div class="news-details">
                            <img src="{{til.image}}" height="40px" width="40px" style="border-radius: 40px; ">
                            <p class="text"> by Author • Jan 22 2021 </p>
                            
                            </div>
                    </mat-card-content>
                </mat-card>
                </mat-grid-tile>
                </mat-grid-list>
        </div>
        <div class="pagination">
            <ul class="text">
                <li> <button mat-button >Prev</button></li>
                <li> <button mat-button clicked>1</button></li>
                <li> <button mat-button>2</button></li>
                <li> <button mat-button>..</button></li>
                <li> <button mat-button>15</button></li>
                <li> <button mat-button>Next</button></li>

                
            </ul>
        </div>
    </div>
    <div class="categories">
        <h2 class="text" style="font-size: 22px; font-weight: 600; color: #191a1f;">Other categories</h2>
        <mat-grid-list cols="1" rowHeight="40px" [gutterSize]="'10px'"style=" margin-right:10px;cursor: pointer;">
            <mat-grid-tile class="category-tile" style="background-color: #fce196;">
                <div style="margin-left: 5px; display: block; height: 100%; width: 100%;">
                    <p class="text" style="color: #ffc107; float: left; margin-top: 8px;"> Photography</p>
                    <p style="margin-top:8px; margin-right: 20px; background-color: #ffc107;color: white; padding: 2px 5px 2px 5px;border-radius: 5px; float: right;">09</p>
                </div>
           </mat-grid-tile>
           
           <mat-grid-tile class="category-tile" style="background-color: #fce196;">
                <div style="margin-left: 5px; display: block; height: 100%; width: 100%;">
                    <p class="text" style="color: #ffc107; float: left; margin-top: 8px;"> Photography</p>
                    <p style="margin-top:8px; margin-right: 20px; background-color: #ffc107;color: white; padding: 2px 5px 2px 5px;border-radius: 5px; float: right;">09</p>
                </div>
            </mat-grid-tile>

            <mat-grid-tile class="category-tile" style="background-color: #fce196;">
                <div style="margin-left: 5px; display: block; height: 100%; width: 100%;">
                    <p class="text" style="color: #ffc107; float: left; margin-top: 8px;"> Photography</p>
                    <p style="margin-top:8px; margin-right: 20px; background-color: #ffc107;color: white; padding: 2px 5px 2px 5px;border-radius: 5px; float: right;">09</p>
                </div>
            </mat-grid-tile>

            <mat-grid-tile class="category-tile" style="background-color: #fce196;">
                <div style="margin-left: 5px; display: block; height: 100%; width: 100%;">
                    <p class="text" style="color: #ffc107; float: left; margin-top: 8px;"> Photography</p>
                    <p style="margin-top:8px; margin-right: 20px; background-color: #ffc107;color: white; padding: 2px 5px 2px 5px;border-radius: 5px; float: right;">09</p>
                </div>
            </mat-grid-tile>

            <mat-grid-tile class="category-tile" style="background-color: #fce196;">
                <div style="margin-left: 5px; display: block; height: 100%; width: 100%;">
                    <p class="text" style="color: #ffc107; float: left; margin-top: 8px;"> Photography</p>
                    <p style="margin-top:8px; margin-right: 20px; background-color: #ffc107;color: white; padding: 2px 5px 2px 5px;border-radius: 5px; float: right;">09</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="category-tile" style="background-color: #fce196;">
                <div style="margin-left: 5px; display: block; height: 100%; width: 100%;">
                    <p class="text" style="color: #ffc107; float: left; margin-top: 8px;"> Photography</p>
                    <p style="margin-top:8px; margin-right: 20px; background-color: #ffc107;color: white; padding: 2px 5px 2px 5px;border-radius: 5px; float: right;">09</p>
                </div>
            </mat-grid-tile>

        </mat-grid-list>

        <div style="width: 100%; height:250px; margin-top: 50px; border-radius: 10px;">
            <mat-card style="height: 100%; width: 100%; background-color: #F7F8F9;">
                <div style="margin-left: 20px;">
                    <h2 class="text" style="font-size: 22px; font-weight: 600; color: #191a1f;">Advertisement</h2>
                    <p>
                        Place your ad here
                    </p>
                </div>
            </mat-card>
        </div>
    </div>
        
</div>

