<div class="dialog-box">
    <h2 mat-dialog-title>
        Add Post
    </h2>
    <div mat-dialog-content>
        <form class="dialog-body" [formGroup]="myForm">
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option *ngFor="let cat of category ">{{cat.categoryName}}</mat-option>
                  
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="long-field">
                <mat-label>Enter Author Name</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="fill" class="long-field">
                <mat-label>Enter Read Time</mat-label>
                <input matInput>
              </mat-form-field>

            <mat-form-field appearance="fill" class="long-field">
                <mat-label>Enter Heading</mat-label>
                <input matInput>
              </mat-form-field>
            <mat-form-field appearance="fill" class="long-field">
                <mat-label>Enter 1st part of your article</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="long-field">
                <mat-label>Enter 2nd part of your article</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
                <div>
                    <label> Select Images:  </label>
                    <input type="file" multiple="" [accept]="'.jpg'" (change)="onFileChange($event)">
                </div>
        </form>
    </div>
    <div mat-dialog-actions  class="dialog-button">
        <button mat-raised-button  style="height:50px; width: 100px;">
            Add
        </button>
        <button mat-raised-button mat-dialog-close style="height:50px; width: 100px; background-color: red; color: white;">
            Close
        </button>
    </div>

</div>
