<div class="body">
    <div class="form">
        <h1 class="text" style="font-size: 28px; color:black;">
            Log in to your account
        </h1>
        <Section style="margin-top: 20px;">
            <form>
                <p class="text"> Email address</p>
                <input type="text" class="field" placeholder="E-mail">
                
                <section style="margin-top: 15px;">
                    <p class="text">Password </p>
                <input type="text" class="field" placeholder="**********">
                </section>
                <mat-checkbox class="text" style="margin-top: 20px;">Keep me signed in</mat-checkbox>
                <section style="margin-top: 20px; display: flex;"> 
                    <button mat-button style="background-color: #0cbc87;; color: white; margin-top: 20px; margin-left: 15px;"> Sign me in</button>
                    <p class="text" style="margin-top: 25px; margin-right: 5px;"> Don't have a account? <a href="">Sign up</a>  </p>
                </section>
            </form>
        </Section>
        <hr style="margin-top: 20px; opacity: 0.25; border:solid 1px #a1a1a8;; width: 100%;">
        <p class="text" style="margin-top: 25px; margin-left: 80px;"> Sign in with your social network for quick access</p>
        <section style="display: flex;"> 
            <button mat-button style="background-color: #5d82d1; color: white; margin-top: 20px; margin-left: 15px; width: 50%;"> Sign in with Facebook </button>
            <button mat-button style="background-color: #3c7ff1; color: white; margin-top: 20px; margin-left: 15px; width: 50%;"> Sign in with Google </button>
        </section>
    </div>
</div>
