<div class="body">
    <div class="semi-body">
        <section class="head">
            <p class="text" style="line-height: 0px;"> Search results for</p>
            <h2 class="text" style="font-size: 3rem; color: black;"> Covid-19 </h2>
            <p class="text" style="line-height:0px;"> 25 Results Found</p>
            <section style="margin-top: 30px; border-radius: 5px; width: 100%;">
                <input type="text" class="field" placeholder="Covid-19">
                <button mat-button style="background-color: #0cbc87; border-color: #0cbc87; height: 50px; width: 120px; color: white;">
                    Search
                </button>
            </section>
        </section>
        <div class="content">
            <div class="card">
                <div class="not-image">
                    <section style="display: flex;">
                    <p class="text category" style="background-color:#dc3545;"> <i class="bi bi-circle-fill"></i> Marketing </p> 
                    <p class="text category" style="background-color: #343a40;"> <i class="bi bi-circle-fill"></i>Startups</p>
                    </section>
                    <h2 class="text underline" style="font-size: 1.640625rem; color:black; line-height: normal;">
                        7 common mistakes everyone makes while travelling
                    </h2>
                    <div class="news-details">
                        <img src="assets/images/team1.jpg" height="40px" width="40px" style="border-radius: 40px; ">
                        <p class="text"> by Author • Jan 22 2021 </p>
                        
                        </div>
                </div>
                <div class="image"> 
                    <img src="assets/images/search1.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="not-image">
                    <section style="display: flex;">
                    <p class="text category" style="background-color:#dc3545;"> <i class="bi bi-circle-fill"></i> Marketing </p> 
                    <p class="text category" style="background-color: #343a40;"> <i class="bi bi-circle-fill"></i>Startups</p>
                    </section>
                    <h2 class="text" style="font-size: 1.640625rem; color:black; line-height: normal;">
                        7 common mistakes everyone makes while travelling
                    </h2>
                    <div class="news-details">
                        <img src="assets/images/team1.jpg" height="40px" width="40px" style="border-radius: 40px; ">
                        <p class="text"> by Author • Jan 22 2021 </p>
                        
                        </div>
                </div>
                <div class="image"> 
                    <img src="assets/images/search1.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="not-image">
                    <section style="display: flex;">
                    <p class="text category" style="background-color:#dc3545;"> <i class="bi bi-circle-fill"></i> Marketing </p> 
                    <p class="text category" style="background-color: #343a40;"> <i class="bi bi-circle-fill"></i>Startups</p>
                    </section>
                    <h2 class="text" style="font-size: 1.640625rem; color:black; line-height: normal;">
                        7 common mistakes everyone makes while travelling
                    </h2>
                    <div class="news-details">
                        <img src="assets/images/team1.jpg" height="40px" width="40px" style="border-radius: 40px; ">
                        <p class="text"> by Author • Jan 22 2021 </p>
                        
                        </div>
                </div>
                <div class="image"> 
                    <img src="assets/images/search1.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="not-image">
                    <section style="display: flex;">
                    <p class="text category" style="background-color:#dc3545;"> <i class="bi bi-circle-fill"></i> Marketing </p> 
                    <p class="text category" style="background-color: #343a40;"> <i class="bi bi-circle-fill"></i>Startups</p>
                    </section>
                    <h2 class="text" style="font-size: 1.640625rem; color:black; line-height: normal;">
                        7 common mistakes everyone makes while travelling
                    </h2>
                    <div class="news-details">
                        <img src="assets/images/team1.jpg" height="40px" width="40px" style="border-radius: 40px; ">
                        <p class="text"> by Author • Jan 22 2021 </p>
                        
                        </div>
                </div>
                <div class="image"> 
                    <img src="assets/images/search1.jpg" alt="">
                </div>
            </div>

            <div class="card">
                <div class="not-image">
                    <section style="display: flex;">
                    <p class="text category" style="background-color:#dc3545;"> <i class="bi bi-circle-fill"></i> Marketing </p> 
                    <p class="text category" style="background-color: #343a40;"> <i class="bi bi-circle-fill"></i>Startups</p>
                    </section>
                    <h2 class="text" style="font-size: 1.640625rem; color:black; line-height: normal;">
                        7 common mistakes everyone makes while travelling
                    </h2>
                    <div class="news-details">
                        <img src="assets/images/team1.jpg" height="40px" width="40px" style="border-radius: 40px; ">
                        <p class="text"> by Author • Jan 22 2021 </p>
                        
                        </div>
                </div>
                <div class="image"> 
                    <img src="assets/images/search1.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="not-image">
                    <section style="display: flex;">
                    <p class="text category" style="background-color:#dc3545;"> <i class="bi bi-circle-fill"></i> Marketing </p> 
                    <p class="text category" style="background-color: #343a40;"> <i class="bi bi-circle-fill"></i>Startups</p>
                    </section>
                    <h2 class="text" style="font-size: 1.640625rem; color:black; line-height: normal;">
                        7 common mistakes everyone makes while travelling
                    </h2>
                    <div class="news-details">
                        <img src="assets/images/team1.jpg" height="40px" width="40px" style="border-radius: 40px; ">
                        <p class="text"> by Author • Jan 22 2021 </p>
                        
                        </div>
                </div>
                <div class="image"> 
                    <img src="assets/images/search1.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="not-image">
                    <section style="display: flex;">
                    <p class="text category" style="background-color:#dc3545;"> <i class="bi bi-circle-fill"></i> Marketing </p> 
                    <p class="text category" style="background-color: #343a40;"> <i class="bi bi-circle-fill"></i>Startups</p>
                    </section>
                    <h2 class="text" style="font-size: 1.640625rem; color:black; line-height: normal;">
                        7 common mistakes everyone makes while travelling
                    </h2>
                    <div class="news-details">
                        <img src="assets/images/team1.jpg" height="40px" width="40px" style="border-radius: 40px; ">
                        <p class="text"> by Author • Jan 22 2021 </p>
                        
                        </div>
                </div>
                <div class="image"> 
                    <img src="assets/images/search1.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="not-image">
                    <section style="display: flex;">
                    <p class="text category" style="background-color:#dc3545;"> <i class="bi bi-circle-fill"></i> Marketing </p> 
                    <p class="text category" style="background-color: #343a40;"> <i class="bi bi-circle-fill"></i>Startups</p>
                    </section>
                    <h2 class="text" style="font-size: 1.640625rem; color:black; line-height: normal;">
                        7 common mistakes everyone makes while travelling
                    </h2>
                    <div class="news-details">
                        <img src="assets/images/team1.jpg" height="40px" width="40px" style="border-radius: 40px; ">
                        <p class="text"> by Author • Jan 22 2021 </p>
                        
                        </div>
                </div>
                <div class="image"> 
                    <img src="assets/images/search1.jpg" alt="">
                </div>
            </div>
        </div>
        <button mat-button class="load-button"> Load More Posts <mat-icon>arrow_downward</mat-icon></button>

    </div>
</div>