*{
    margin: auto;
}
.body{
    width: 60%;
    display: block;
}
.semi-body{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text{
    font-size: 0.9375rem;
    color: #595d69;
    font-weight: 500;
    line-height: 1.5;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.field{
    border-color: #0cbc87 !important;
    width: 220px;
    height: 50px;
    padding: 0.5rem 1rem;
    border: 1px solid #dfe0e5;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #29292e;
    background-color: #fff;
    border-radius: 5px;
}
.content{
    width: 100%;
}

.card{
    margin-bottom: 50px;
    width: 100%;
    height:200px;
    border: solid 1px #e9ecef;;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.not-image{
    width: 65%;
    height: 100%;
    display: block;
}
.image{
    width: 25%;
    height: 90%;
    
    img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
}
.category{
    font-size: 12px;
    margin-left: 5px;
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    font-weight: 700;
}
.news-details{
    display: flex;
    img{
        margin-left: 0px;
    }
    p{
        position: absolute;
        margin: 5px 0px 0px 50px;
    }
}
i{
    margin-right: 5px;
}
.load-button{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: rgba(33, 99, 232, 0.1);
    color: #2163e8;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.load-button:hover{
    background-color: #2163e8;
    color: white;
    font-weight: 500;
       
}
.underline{
    background-image: linear-gradient(black, black);
    background-size: 0 3px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 800ms ease;
    box-sizing: border-box;
}

.underline:hover{
    background-size: 100% 3px;
}
@media screen and (max-width: 1800px) {
    .body{
        width: 80%;
    }
    
}

@media screen and (max-width: 1500px) {
    .body{
        width: 85%;
    }
}
@media screen and (max-width: 1200px) {
    .body{
        width: 90%
    }
    
    .semi-body{
        width: 100%;
    }
}
@media screen and (max-width: 980px) {
    .body{
        width: 90%
    }
    .semi-body{
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .body{
        width: 95%
    }
    .semi-body{
        width: 100%;
    }
}
