<div class="body">
    <section>
        <img src="https://blogzine.webestica.com/assets/images/logo.svg" alt="logo" class="logo">
    </section>
    <Section style="margin-top: 10px;">
        <p class="text"> 
            The next-generation blog, news, and magazine theme for you to start sharing your stories today!
        </p>
    </Section>
    <Section>
        <ul style="list-style: none; padding-left: 0px;">
           <li class="text" style="font-size:24px;">Home</li> 
           <li class="text" style="font-size:24px;">About us</li> 
           <li class="text" style="font-size:24px;">Our Journal</li> 
           <li class="text" style="font-size:24px;">Contact us</li> 
           
        </ul>
    </Section>
    <section style="height: 300px; width: 100%; margin-top: 20px;">
        <mat-card style="height:100%; width: 100%; background-color: #2163E81A;display: block; padding: 20px;">
            <p class="text">
                The blogzine
            </p>
            <p class="text" style="font-size: 24px; color: black;">
                Save on Premium Membership
            </p>
            <p class="text">
                Get the insights report trusted by experts around the globe. Become a Member Today!
            </p>
            <button mat-button style="background-color: #f7c32e;;">
                View pricing plans
            </button>
        </mat-card>
    </section>
    <section style="margin-top: 60px;">
        <p class="text" style="font-weight: 700;">New York, USA (HQ)</p>
        <p class="text">
            750 Sing Sing Rd, Horseheads, NY, 14845
            Call: 469-537-2410 (Toll-free)
        </p>
        <p class="text">
            hello@blogzine.com
        </p>
    </section>
</div>
